* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4ca1da;
    background-color: #181310;
}

header {
    background-color: #181310;
}

header nav {
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hero img {
    width: 100%;
    height: auto;
}

